server {
    listen 80;
    listen [::]:80;
    # Remove http2 on; HTTP/2 requires TLS (port 443)
    server_name ${MAIN_DOMAIN};

    location / {
        proxy_pass http://${FRONTEND_NAME}:${FRONTEND_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /api {
        proxy_pass http://${BACKEND_NAME}:${BACKEND_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
